@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
<section class="hero">
    <div class="container hero-grid">
        <img src="/imagens/Foto_portifolio.jpg" alt="Foto de perfil de Davi Reis" class="profile-photo" />
        <div class="hero-text">
            <h1>Davi Reis</h1>
            <h2 class="subtitle">Desenvolvedor Full Stack .NET</h2>

            <p class="lead">
                Desenvolvedor Full Stack especializado em .NET 10, focado na criação de sistemas web modernos,
                APIs robustas e soluções eficientes com boas práticas, testes automatizados e entrega contínua.
            </p>

            <div class="hero-actions">
                <a class="btn primary" href="/projetos">Ver projetos</a>
                <a class="btn primary" href="/Contatos">Entrar em contato</a>
            </div>
        </div>
    </div>
</section>